
body{
    margin:0;
    padding:0;
    text-align:center;
    background: linear-gradient(rgba(0,0,20,0.5),rgba(0,0,20,0.5)),url(../background/bg2.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;
    font-family:Century Gothic;
}
.contact-title
{
    
    margin-top:100px;
    color:#fff;
    transition:all 1s ease-in-out;
    
}

.contact-title p1{
    
    font-size: 50px;
    line-height: 10px;
    
    
}

.contact-title p2{
    
    font-size: 30px;
    
}

form{
    
    margin-top: 50px;
    transition: all 1s ease-in-out;
    
}

.form-control{
    
    width: 600px;
    background:transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color:#fff;
    font-size: 18px;
    font-family: Century Gothic;
    margin-bottom: 16px;
}

input{
    
    height: 45px;
}

form .submit{
    
    background: #ff5722;
    border-color: transparent;
    color:#fff;
    font-size: 20px;
    font-family: Century Gothic;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover{
    
    background-color: #fff;
    color:#ff5722;
    cursor: pointer;
}












